body{
  margin: 0;
  background: url("/krusty.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.card {
  width: 300px; 
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5); 
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}

.employee-name {
  color: yellow; 
  margin: 0 0 10px 0; 
}

.recipe-details {
  color: black; 
}
